<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>

        <element type="select"  required="true"  scope="locale">
            <name>blocks-order</name>
            <label lang="de">Reihenfolge der Blöcke</label>
            <label lang="en">Blocks order</label>
            <value>Choose from the list..</value>
            <store>
                <option>
                    <value>FirstCombo</value>
                    <label lang="en">Liked Items - My Account - Cart</label>
                    <label lang="de">Merkzettel - Mein Konto - Warenkorb</label>
                </option>
            </store>
        </element>

    </elements>
</config>
