<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>

        <element type="boolean" scope="locale" required="true">
            <name>show-checker</name>
            <label lang="en">Show password strength checker</label>
        </element>

    </elements>
</config>
